body{
    margin:  0;
    padding: 0;
    background-color: burlywood;
    font-size: 1.5rem;
}
.all{
    width: 50%;
    margin: 100px auto;
    background-color: bisque;
}
.all h1{
    text-align: center;
}
.title{
    padding-top: 20px;
}
.main{
    
    display: flex;
    justify-content: center;
    
}
.btn{
    margin: auto 50px;
}
h2{
    text-align: center;
    font-size: 3rem;
    color: white;
}
button{
    height: 40px;
    width: auto;
    border-radius: 12px;
    border: 1px solid black;
    background-color: rgb(165, 117, 55);
    color: aliceblue;
}
.btn_refresh{
    text-align: center;
}
footer{
    text-align: center;
    margin-top: 10%;
}
footer a{
    text-decoration: none;
}
@media(max-width: 767px){
    body{
        font-size: 0.9rem;
    }
    h2{
        font-size: 2.3rem;
    }
    .all{
        width: 80%;
    }
    .btn{
        margin: auto 20px;
    }
}